<div class="d-flex align-items-center flex-column h-100 gap-5">
  <h1 class="mt-4">{{ data.translations?.contactsAndNetworks }}</h1>
  <div class="d-flex gap-3 flex-column w-100 px-5 btns">
    <a
      class="w-100 btn linkedin"
      href="https://www.linkedin.com/in/willynaresse/"
      target="_blank"
    >
      <span class="w-50">
        <img src="../../../assets/img/linkedin-logo.webp" alt="LinkedIn logo" />
        LinkedIn
      </span>
    </a>
    <a
      class="w-100 btn github"
      href="https://github.com/TheWillao"
      target="_blank"
    >
      <span class="w-50">
        <img src="../../../assets/img/github-logo.png" alt="GitHub logo" />
        GitHub
      </span>
    </a>
    <a
      class="w-100 btn email"
      href="mailto:willnaresse@gmail.com"
      target="_blank"
    >
      <span class="w-50">
        <img src="../../../assets/img/gmail-logo.png" alt="Gmail logo" />
        E-mail
      </span>
    </a>
    <a
      class="w-100 btn whatsapp"
      [href]="'https://wa.me/5534998887717?text=' + message"
      target="_blank"
    >
      <span class="w-50">
        <img src="../../../assets/img/whatsapp-logo.png" alt="WhatsApp logo" />
        WhatsApp
      </span>
    </a>
  </div>
</div>
