.bg-mobile-1 {
  background-color: #fefcfb;
  color: #001f54;
  min-height: calc(100vh - 112px);
}
.bg-mobile-2 {
  background-color: #001f54;
  color: #fefcfb;
  min-height: calc(100vh - 100px);
}

.info-mobile {
  text-align: justify;
}

.bg-w-1 {
  width: 700px;
}

.bg-w-2 {
  width: 600px;
}

.bg-w-3 {
  width: 600px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1922%)
    hue-rotate(202deg) brightness(114%) contrast(101%) !important;
}

.bg-w-4 {
  padding: 2em;
  height: 50%;
  margin: 0 5rem 5rem 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
  cursor: pointer;
  img {
    transition: 0.3s;
    filter: brightness(0) saturate(100%) invert(7%) sepia(42%) saturate(7444%)
      hue-rotate(213deg) brightness(91%) contrast(102%);
    width: 80px;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.logos-mobile {
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
    filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg)
      brightness(106%) contrast(106%);
  }
}

.bg-indigo {
  background-color: #001f54;
}

.bg-w {
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0px 2px 15px #000);
  &:hover {
    filter: drop-shadow(1px 5px 25px #000);
  }
}

.form-1 {
  clip-path: polygon(0 33%, 100% 89%, 100% 100%, 0% 100%);
  z-index: 0;
}

.form-2 {
  clip-path: polygon(0 0, 100% 0, 100% 36%, 64% 78%, 36% 57%, 0 100%);
  z-index: 0;
}

.form-3 {
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%, 50% 50%);
  z-index: 0;
  background: #fefcfb;
}

.form-4 {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  z-index: 0;
}

.title-div {
  padding-top: 15rem;
  text-align: end;
}

.info-div {
  padding: 30px 50px;
  text-align: justify;
  width: 70%;
  box-shadow: 1px 10px 2px rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  strong {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 25px;
  }
}

.info-div-1 {
  margin-bottom: 8rem;
  background-color: #034078;
  color: whitesmoke;
  border-radius: 30px 0;
}

.info-div-2 {
  margin-bottom: 8rem;
  background-color: whitesmoke;
  color: #001f54;
  border-radius: 30px 0;
  border-radius: 0 30px;
}

.name {
  font-size: 5rem;
  color: #001f54;
  line-height: 60px;
}

.job {
  font-size: 2.5rem;
  color: #034078;
}

@media screen and (max-width: 1640px) {
  .name {
    font-size: 3.5rem;
  }
  .job {
    font-size: 2rem;
  }
  .info-div {
    width: 85%;
  }
  .bg-w-1 {
    width: 600px;
  }

  .bg-w-2,
  .bg-w-3 {
    width: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .bg-w-3 {
    width: 400px;
  }
  .bg-w-1 {
    width: 400px;
  }
  .title-div {
    padding: 10rem 0 0 0 !important;
  }
}

@media screen and (max-width: 1040px) {
  .bg-w-4 {
    img {
      width: 40px;
    }
  }

  .bg-w-3 {
    width: 300px;
  }

  .bg-w-2 {
    width: 350px;
  }

  .title-div {
    align-items: center !important;
  }

  .info-div-1 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .info-div {
    padding: 15px 30px !important;
    text-align: justify;
    width: 80% !important;
    box-shadow: 1px 10px 2px rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    strong {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 695px) {
  .title-div {
    text-align: center;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding-top: 8rem !important;
  }
  .bg-code {
    flex-direction: column;
  }
  .img-div-1 {
    order: 2;
  }
  .title-div-1 {
    order: 1;
    div {
      gap: 1rem !important;
    }
  }
  .name {
    font-size: 2.5rem;
    margin: 0 !important;
  }
  .job {
    font-size: 1.5rem;
  }
  .bg-w-1 {
    width: 300px;
  }
  .logos {
    justify-content: flex-end;
  }
  .info-div-1 {
    margin-bottom: 0 !important;
    height: 200px;
  }
  .bg-w-3 {
    width: 50%;
  }
  .bg-w-4 {
    margin: 1rem !important;
    width: 80%;
    padding: 0 0 0 1rem !important;
    overflow: scroll;
  }
}
