.bg-willy {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 700px;
  filter: drop-shadow(0px 2px 15px #000);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: drop-shadow(0px 2px 22px #667a93);
  }
}

.z-1 {
  filter: drop-shadow(0px 2px 22px #667a93);
}

.about {
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: calc(30% + 150px);
  transition: 0.3s;
  text-align: justify;
  overflow: auto;
}

.shadowed-txt {
  text-shadow: 0px 0px 10px #000000;
}

.name {
  font-size: 80px;
}

.job {
  font-size: 50px;
}

@media screen and (max-width: 1550px) {
  .bg-willy {
    width: 700px;
  }
}

@media screen and (max-width: 1440px) {
  .bg-willy {
    width: 44%;
  }
  .about {
    background-color: rgba(43, 43, 43, 0.4);
    width: 50%;
    margin-top: 5rem;
    color: whitesmoke;
  }
}

@media screen and (max-width: 1100px) {
  .about {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .bg-willy {
    width: 320px;
  }
  .bg-code {
    background: linear-gradient(
      100deg,
      rgba(63, 79, 95, 1) 0%,
      rgba(97, 115, 139, 1) 35%,
      rgba(119, 145, 170, 1) 58%,
      rgba(132, 159, 188, 1) 100%
    );
  }
  .about {
    width: 100%;
    margin-left: 11rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .title-div {
    height: 30% !important;
  }

  .about-section {
    height: 70% !important;
  }
  .name {
    font-size: 60px;
  }
  .job {
    font-size: 40px;
  }
}

@media screen and (max-width: 730px) {
  .bg-willy {
    width: 300px;
    right: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .about {
    width: 100%;
    margin: 0 3rem;
    overflow: scroll;
  }
  .title-div {
    height: 30% !important;
    gap: 1rem !important;
    padding: 0 !important;
    align-items: center !important;
  }
  .about-section {
    height: 70% !important;
    padding: 0 !important;
  }
  .name {
    font-size: 3rem;
    margin-right: 0 !important;
  }
  .job {
    font-size: 1.5rem;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 580px) {
  .bg-willy {
    width: 280px;
  }
}

@media screen and (max-width: 515px) {
  .about {
    margin: 0 1.5rem 0 1.5rem !important;
    height: 90% !important;
    padding: 2rem !important;
  }
  .title-div {
    height: 25% !important;
    gap: 0 !important;
    padding: 3rem 2rem !important;
    text-align: center;
  }
  .name {
    font-size: 2rem;
    line-height: 40px;
    margin: 0 !important;
  }
  .job {
    font-size: 1rem;
    margin: 0 !important;
  }
}
