<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end">
    <div class="drawer">
      <select
        class="form-select w-75 ms-5 mt-5"
        (change)="nav.changeLanguage($event)"
      >
        <option selected value="pt">Português</option>
        <option value="en">English</option>
      </select>
      <a
        class="nav-link text-uppercase w-75 ms-5 mt-2 ps-3 py-3"
        (click)="currentPage = 'about'; drawer.close()"
        ><span [ngClass]="{ 'active-option': currentPage == 'about' }">{{
          translations?.aboutTab
        }}</span></a
      >
      <a
        class="nav-link text-uppercase w-75 ms-5 mt-1 ps-3 py-3"
        (click)="currentPage = 'projects'; drawer.close()"
        ><span [ngClass]="{ 'active-option': currentPage == 'projects' }">{{
          translations?.projectsTab
        }}</span></a
      >
      <button
        class="btn btn-primary ms-3 text-uppercase w-75 ms-5 mt-2"
        type="button"
        (click)="nav.openContactsModal(); drawer.close()"
      >
        {{ translations?.contact }}
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar
      (pageEmitter)="onPageChange($event)"
      (emitLanguage)="changeLanguage($event)"
      (openMenu)="drawer.toggle()"
      [translations]="translations"
    ></app-navbar>

    <app-initial-page
      [translations]="translations"
      *ngIf="currentPage === 'about'"
    ></app-initial-page>

    <app-my-projects
      [translations]="translations"
      *ngIf="currentPage === 'projects'"
    ></app-my-projects>
  </mat-drawer-content>
</mat-drawer-container>
